<footer class="wd100 pull-left ftbg pt40 pb40">
  <div class="container pb50">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ft-bx1">
        <span><img src="assets/image/logo_white.png" class="img-responsive"/></span>
        <p class="pt25">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to mstandard d.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-md-offset-1  col-sm-offset-0 col-sm-3 col-xs-12 ft-bx1 ft-bx1-res">
      <span class="dblock spanst">Quick Links</span>
        <ul class="pt20">
          <li class="mb15"><a href="">Home</a></li>
          <li class="mb15"><a href="">About us</a></li>
          <li class="mb15"><a href="">Plans</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 ft-bx2 ft-bx1-res">
        <span class="dblock spanst">Keep in touch</span>
          <ul class="pt20 ">
            <li class="mb15 "><span class="pr15 dinblock"><img src="assets/image/location_white.png"/></span>1120, sector-abc, Gurugram</li>
            <li class="mb15 "><span class="pr15 dinblock"><img src="assets/image/phone_white.png"/></span>+91-8800767922</li>
            <li class="mb15 "><span class="pr15 dinblock"><img src="assets/image/emailft_white.png"/></span>support@onlineexam.com</li>
          </ul>
      <div class="pull-left kp mt10" >
          <a href="" class="facebk socialicon pr5"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="socialicon twt"><i  class="fa fa-twitter " aria-hidden="true"></i></a>
          <a href="" class="socialicon lnk"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="" class="socialicon pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
          <a href="" class="socialicon gogl"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
      </div>
    </div>
    </div>
    <div class="cpright wd100 pull-left text-center pt10 pb10">
      <span >@ copyright,All right reserved</span>
    </div>
</footer>



