
<!--The content below is only a placeholder and can be replaced.-->
<div id="login" class="sectionMin">
	<div class="container" >
		<div class="mainPadding">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding boxShadowMain form_main">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 modalbx_l no-padding" >
					<span class="dblock text-center" style="margin-top: 115px;"><img src="assets/image/logo.png"></span>
					<h2 class="text-center">Welcome!!</h2>
					<h4 class="text-center">We Are Happy to have you here.</h4>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 modalbx_r no-padding">
					<div class="col-lg-12 pt20">
						<form>
						<h3 class="text-left margin_bottom20 colorred margin_top0 ">Login Into Your Account</h3>
						<div class="form-group">
							<i class="fa fa-user inuser" aria-hidden="true"></i>
							<input type="text"  placeholder="Email.." class="form-control inputdes ">
						</div>
						<div class="form-group">
							<i class="fa fa-unlock-alt inuser" aria-hidden="true"></i>			
							<input type="Password"  placeholder="Password.." class="form-control inputdes ">
						</div>
						<span class="dblock text-right"> <a href="#" class="fg">Forgot Password ?</a></span>
						<span class="dblock text-right margin_top15">
							<a routerLink="/register"  class="pull-left colorred">Not a Member ? Register</a>
							<button class="btn btn-primary btn_custm">Submit</button>
						</span>
						<div class="form-group margin_top30">
							<div class="row">
								<div class="col-md-6">
									<a href="" class="loginBtn faceBook">
									<i class="fa fa-facebook"></i>Facebook</a>
								</div>
								<div class="col-md-6">
									<a href=""  class="loginBtn gooGle">
									<i class="fa fa-google"></i>Google +</a>
								</div>
							</div>
						<div class="clearfix"></div>
						</div>

						</form>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
