<app-header></app-header>
<section id="demos" >
  <div class="large-12 columns pull-left">
           <ul class="bxslider bxs">
           <li><h1 class="no-margin pt10 pb10 ">Boost Your<span> JEE Examation</span>  Preparation</h1><img src="assets/image/banner2.png" /></li>
           <li><h1 class="no-margin pt10 pb10">Boost Your<span> JEE Examation</span>  Preparation</h1><img src="assets/image/banner3.png" /></li>
           <li><h1 class="no-margin pt10 pb10">Boost Your<span> JEE Examation</span>  Preparation</h1><img src="assets/image/banner4.png" /></li>
           </ul>
   </div>
  </section>
<section class="wd100 pull-left">
  <div class="container pt30 p30">
    <h2 class="welcm text-center"><span>WelcomeTo JEE Examation 2018</span></h2>
    <p class="welcmpg text-center pt20">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum geMaker including versions of Lorem Ipsum
    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum geMaker including versions of Lorem Ipsum
    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum geMaker including versions of Lorem Ipsum
    
    </p>
    <div class="wd300 pt20">
    <a href="" class=" dblock login cmmbtn pt5 pb5 text-center" >Read More</a>
    </div>
  
  </div>
  </section>
 <section class="wd100 pull-left featbg mt60">
  <div class="container pt30 pb30">
    <h2 class="welcm1 text-center"><span>Features</span></h2>
    <div class="row">
     
      <div class="col-lg-4 col-md-4   text-center pt20 pb20">
        <div class="feautre-bx pt20 pb20 pl15 pr15">
         <span><img src="assets/image/feature1.png" /></span>
        <h4 class="colorred">Actual Exam Enviroment</h4>
        <p>We Provides Actual Exam Environment in JEE Online Test Series including, pallets, Exam Analysis, Timer etc.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4   text-center pt20 pb20">
      <div class="feautre-bx pt20 pb20 pl15 pr15">
        <span><img src="assets/image/feature2.png" /></span>
        <h4 class="colorred">25 online Test</h4>
        <p>We Provides Actual Exam Environment in JEE Online Test Series including, pallets, Exam Analysis, Timer etc.</p>
      </div>
      </div>
      <div class="col-lg-4 col-md-4  text-center pt20 pb20">
      <div class="feautre-bx pt20 pb20 pl15 pr15">
        <span><img src="assets/image/feature3.png"/></span>
        <h4 class="colorred">Updated Exam Material</h4>
        <p>We Provides Actual Exam Environment in JEE Online Test Series including, pallets, Exam Analysis, Timer etc.</p>
      </div>
      </div>
      <div class="col-lg-4 col-md-4   text-center pt20 pb20">
        <div class="feautre-bx pt20 pb20 pl15 pr15">
        <span><img src="assets/image/feature4.png"/></span>
        <h4 class="colorred">Ranks</h4>
        <p>We Provides Actual Exam Environment in JEE Online Test Series including, pallets, Exam Analysis, Timer etc.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4   text-center pt20 pb20">
      <div class="feautre-bx pt20 pb20 pl15 pr15">
        <span><img src="assets/image/feature5.png"/></span>
        <h4 class="colorred">Detail Analysis</h4>
        <p>We Provides Actual Exam Environment in JEE Online Test Series including, pallets, Exam Analysis, Timer etc.</p>
      </div>
      </div>
      <div class="col-lg-4 col-md-4  text-center pt20 pb20">
      <div class="feautre-bx pt20 pb20 pl15 pr15">
        <span><img src="assets/image/feature6.png"/></span>
        <h4 class="colorred">Solution</h4>
        <p>We Provides Actual Exam Environment in JEE Online Test Series including, pallets, Exam Analysis, Timer etc.</p>
      </div>
      </div>
    
    </div>
  
  </div>
  </section>

   <section class="wd100 pull-left ">
    <div class="container pt30 pb30">
        <h2 class="welcm1 text-center">Packages</h2>
        <h3 class="mt40 XI">XII Appearing/passed (For 1 Year)</h3>
       <div class="row">
     
      <div class="col-lg-4 col-md-4   text-Left pt20 pb20">
        <div class="Packages pt20 pb30">
            <h3 class="colorred  pl15">Rs.5000</h3>
      <h3 class="colorred Packages-head  pl15 ">3 month access-Unlimited use</h3>
      <ul class="dblock pklist no-padding mt30">
        <li class=" pl15 pb5">JEE Mains Test Series</li>
        <li class=" pl15 pb5">Explanation of Questions</li>
        <li class=" pl15 pb5">Insightful Reports</li>
        <li class=" pl15 pb5 br-hidden">Insightful Reports</li>
      </ul>
    <a href="" class=" dblock login cmmbtn pt5 pb5 ml15 text-center" >Start Plan</a>
      
      
        </div>
      </div>
      <div class="col-lg-4 col-md-4   text-Left pt20 pb20">
        <div class="Packages pt20 pb30">
            <h3 class="colorred  pl15">Rs.5500</h3>
      <h3 class="colorred Packages-head  pl15 ">6 month access-Unlimited use</h3>
      <ul class="dblock pklist no-padding mt30">
        <li class=" pl15 pb5">JEE Mains Test Series</li>
        <li class=" pl15 pb5">Explanation of Questions</li>
        <li class=" pl15 pb5">Insightful Reports</li>
        <li class=" pl15 pb5 br-hidden">Insightful Reports</li>
      </ul>
    <a href="" class=" dblock login cmmbtn pt5 pb5 ml15 text-center" >Start Plan</a>
      
      
        </div>
      </div>
      <div class="col-lg-4 col-md-4   text-Left pt20 pb20">
        <div class="Packages pt20 pb30">
            <h3 class="colorred  pl15">Rs.6000</h3>
      <h3 class="colorred Packages-head  pl15 ">1 Year access-Unlimited use</h3>
      <ul class="dblock pklist no-padding mt30">
        <li class=" pl15 pb5">JEE Mains Test Series</li>
        <li class=" pl15 pb5">Explanation of Questions</li>
        <li class=" pl15 pb5">Insightful Reports</li>
        <li class=" pl15 pb5 br-hidden">Insightful Reports</li>
      </ul>
    <a href="" class=" dblock login cmmbtn pt5 pb5 ml15 text-center" >Start Plan</a>
      
      
        </div>
      </div>
      
    </div>
    <h3 class="XI">XI Appearing/passed (For 2 Year)</h3>
   <div class="row">
     
      <div class="col-lg-4 col-md-4   text-Left pt20 pb20">
        <div class="Packages pt20 pb30">
            <h3 class="colorred  pl15">Rs.7000</h3>
      <h3 class="colorred Packages-head  pl15 ">3 month access-Unlimited use</h3>
      <ul class="dblock pklist no-padding mt30">
        <li class=" pl15 pb5">JEE Mains Test Series</li>
        <li class=" pl15 pb5">Explanation of Questions</li>
        <li class=" pl15 pb5">Insightful Reports</li>
        <li class=" pl15 pb5 br-hidden">Insightful Reports</li>
      </ul>
    <a href="" class=" dblock login cmmbtn pt5 pb5 ml15 text-center" >Start Plan</a>
      
      
        </div>
      </div>
      <div class="col-lg-4 col-md-4   text-Left pt20 pb20">
        <div class="Packages pt20 pb30">
            <h3 class="colorred  pl15">Rs.7500</h3>
      <h3 class="colorred Packages-head  pl15 ">6 month access-Unlimited use</h3>
      <ul class="dblock pklist no-padding mt30">
        <li class=" pl15 pb5">JEE Mains Test Series</li>
        <li class=" pl15 pb5">Explanation of Questions</li>
        <li class=" pl15 pb5">Insightful Reports</li>
        <li class=" pl15 pb5 br-hidden">Insightful Reports</li>
      </ul>
    <a href="" class=" dblock login cmmbtn pt5 pb5 ml15 text-center" >Start Plan</a>
      
      
        </div>
      </div>
      <div class="col-lg-4 col-md-4   text-Left pt20 pb20">
        <div class="Packages pt20 pb30">
            <h3 class="colorred  pl15">Rs.8000</h3>
      <h3 class="colorred Packages-head  pl15 ">1 Year access-Unlimited use</h3>
      <ul class="dblock pklist no-padding mt30">
        <li class=" pl15 pb5">JEE Mains Test Series</li>
        <li class=" pl15 pb5">Explanation of Questions</li>
        <li class=" pl15 pb5">Insightful Reports</li>
        <li class=" pl15 pb5 br-hidden">Insightful Reports</li>
      </ul>
    <a href="" class=" dblock login cmmbtn pt5 pb5 ml15 text-center" >Start Plan</a>
      
      
        </div>
      </div>
      
    </div>    
    
    
    
    
    
    
    
    
    
    
    
    </div>
  </section>

  <section class="wd100 pull-left clinetbg">
    <div class="container pt30 pb30">
    <h2 class="welcm1 text-center">What People say</h2>
    <div id="demos">
    <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            <div class="item item1">
      <h3 class="John text-center">John Smith</h3>
      <div class="img-sty">
       <img src="assets/image/client1.png"/>
      </div>  
      <blockquote class="feedbk-client text-center pt25">Complete Preparation & Practice for Junior Engineer Exams with our Sectional Tests & Full Tests for Prelims & Mains Exam. Attempt Free Mock Tests & Live Tests to see your All India Ranks & Performance Analysis with detailed solutions.</blockquote>
      
      
            </div>
      <div class="item item1">
      <h3 class="John text-center">John Smith</h3>
      <div class="img-sty">
       <img src="assets/image/client1.png"/>
      </div>  
      <blockquote class="feedbk-client text-center pt25">Complete Preparation & Practice for Junior Engineer Exams with our Sectional Tests & Full Tests for Prelims & Mains Exam. Attempt Free Mock Tests & Live Tests to see your All India Ranks & Performance Analysis with detailed solutions.</blockquote>
      
      
            </div>
      <div class="item item1">
      <h3 class="John text-center ">John Smith</h3>
      <div class="img-sty">
       <img src="assets/image/client1.png"/>
      </div>  
      <blockquote class="feedbk-client text-center pt25">Complete Preparation & Practice for Junior Engineer Exams with our Sectional Tests & Full Tests for Prelims & Mains Exam. Attempt Free Mock Tests & Live Tests to see your All India Ranks & Performance Analysis with detailed solutions.</blockquote>
      
      
            </div>
      
      
      
      
      
          </div>
      </div>
   </div>
   </div>
    
    
    
    
    
    
  
  
  
  </div>
  </section>
  <app-footer></app-footer>